@tailwind base;
@tailwind components;
@tailwind utilities;

table-hover td,
.table-hover th {
  position: relative;
  border: 1px solid transparent; /* Set transparent borders by default */
}

.table-hover td.hover-column,
.table-hover th.hover-column {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity)) /* #f3f4f6 */;
}

.table-hover .hover-column-first {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity)) /* #f3f4f6 */;
}

.table-hover .hover-column-last {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity)) /* #f3f4f6 */;
}

.container-gradient {
  background-image: radial-gradient(1600px at 70% 120%, rgba(33, 39, 80, 1) 10%, #020409 100%);
}

.container-gradient-dark {
  background-image: radial-gradient(1600px at 70% 120%, rgb(92, 107, 206) 10%, #02040950 100%);
}

.w-inherit {
  width: inherit;
}
.h-inherit {
  height: inherit;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  :root {
    --background: 253 44% 98%;
    --foreground: 253 58% 0%;
    --muted: 253 7% 87%;
    --muted-foreground: 253 13% 37%;
    --popover: 253 44% 98%;
    --popover-foreground: 253 58% 0%;
    --card: 253 44% 97%;
    --card-foreground: 0 0% 0%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 253 91% 58%;
    --primary-foreground: 253 91% 98%;
    --secondary: 253 5% 89%;
    --secondary-foreground: 253 5% 29%;
    --accent: 253 12% 82%;
    --accent-foreground: 253 12% 22%;
    --destructive: 339.2 90.36% 51.18%;
    --destructive-foreground: 0 0% 100%;
    --ring: 253 91% 58%;
    --chart-1: 253 91% 58%;
    --chart-2: 253 5% 89%;
    --chart-3: 253 12% 82%;
    --chart-4: 253 5% 92%;
    --chart-5: 253 94% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 253 43% 3%;
    --foreground: 253 31% 98%;
    --muted: 253 7% 13%;
    --muted-foreground: 253 13% 63%;
    --popover: 253 43% 3%;
    --popover-foreground: 253 31% 98%;
    --card: 253 43% 4%;
    --card-foreground: 253 31% 99%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 253 91% 58%;
    --primary-foreground: 253 91% 98%;
    --secondary: 253 7% 9%;
    --secondary-foreground: 253 7% 69%;
    --accent: 253 13% 14%;
    --accent-foreground: 253 13% 74%;
    --destructive: 339.2 90.36% 51.18%;
    --destructive-foreground: 0 0% 100%;
    --ring: 253 91% 58%;
    --chart-1: 253 91% 58%;
    --chart-2: 253 7% 9%;
    --chart-3: 253 13% 14%;
    --chart-4: 253 7% 12%;
    --chart-5: 253 94% 58%;
  }
}
